@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
  
.image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
 }
  
.texts {
    display: flex;
    flex-direction: column;
}
  
.text2 {
    text-align: center;
   
}
  
.imgtxts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 40px;
  }
  
.text2 p {
    font-size: 25px;
    padding-bottom: 30px
}
  
.texts .username {
    font-size: 70px;
}
  
.text2 a {
    text-decoration: none;
    font-size: 18px;
    background-color: bisque;
    padding: 25px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    box-shadow: 0 10px 16px -6px rgba(65, 6, 3, 0.31);
    text-align: center;
    margin-top: 20px;
}
  
@media(max-width:1000px){
      .imgtxts {
          flex-direction: column;
}
  
.image {
      width: 500px;
      height: 500px;
      margin-top: 30px;
    }
}
  
@media(max-width:600px){
    .text2 p {
        font-size: 20px;
        text-align: center;
    }
  
.texts .username {
          font-size: 60px;
          text-align: center;
    }
  
.image {
      width: 350px;
      height: 350px;
      margin-top: 30px;
  }
}
  
@media(max-width:330px) 
  {
      .image {
      width: 200px;
      height: 200px;
      margin-top: 30px;
  }
.texts .username {
      font-size: 40px;
    }
  
.text2 a  {
      padding: 15px 15px;
    }
}